@model IEnumerable<SeguridadInformática.Models.Activo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Nombre)
            </th>
            <th>
                Riesgos Asociados
            </th>
            <th>
                Controles para mitigar
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var activo in Model)
        {
            <tr>
                <td>
                    @activo.Tipo
                </td>
                <td>
                    @activo.Nombre
                </td>
                <td>
                    @foreach (var rpa in activo.RiesgosPorActivo)
                    {
                        @rpa.Riesgo.Descripcion
                        <br />
                    }
                </td>
                <td>
                    @foreach (var rpa in activo.RiesgosPorActivo)
                    {
                        foreach (var control in rpa.Riesgo.ControlPorRiesgo.Select(cpr => cpr.Control).Distinct())
                        {
                            @control.Descripcion
                            <br />
                        }
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@activo.Id_Activo">Edit</a> |
                    <a asp-action="Details" asp-route-id="@activo.Id_Activo">Details</a> |
                    <a asp-action="Delete" asp-route-id="@activo.Id_Activo">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
